[submodule "InitialAccess/Dovetail"]
	path = InitialAccess/Dovetail
	url = https://github.com/Altoid0/Dovetail.git
[submodule "PostExploitation/FSpec"]
	path = PostExploitation/FSpec
	url = https://github.com/Altoid0/FSpec.git
